<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input [(ngModel)]="email" type="email" placeholder="Correo Electrónico"></ion-input>
      <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña"></ion-input>
      <ion-item>
        <ion-label>Foto de Perfil</ion-label>
        <input type="file" (change)="onFileSelected($event)">
      </ion-item>
      <ion-button expand="full" (click)="login()">Ingresar</ion-button>
      <ion-button expand="full" (click)="register()">Registrarse</ion-button>
    </ion-card-content>
    <div *ngIf="profilePicUrl">
      <h2>Foto de Perfil</h2>
      <img [src]="profilePicUrl" alt="Perfil" class="profile-pic">
      <ion-button expand="full" color="danger" (click)="logout()">Cerrar Sesión</ion-button>
    </div>
  </ion-card>
</ion-content>
