<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (submit)="login()" >
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" name="password" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Recordar credenciales</ion-label>
      <ion-toggle formControlName="rememberMe" name="toggle"></ion-toggle>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid" >Iniciar Sesión</ion-button>
    <ion-item (click)="goAccessRequest()">
      <ion-icon slot="start" name="key" class="key"></ion-icon>
      <h4 class="access">Solicitud de Acceso</h4>
    </ion-item>
      <ion-label>{{error}}</ion-label>
  </form>
</ion-content>
