
<ion-header>
  <ion-toolbar>
    <ion-title>Excusa Escolar</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar (click)="openUserMenu($event)">
        <img [src]="userPhoto || 'assets/user.png'" />
      </ion-avatar>
      </ion-buttons>
    </ion-toolbar>
    <ion-popover *ngIf="showUserMenu" (ionPopoverDidDismiss)="showUserMenu = false">
    <ng-template>
      <ion-list>
        <ion-item (click)="logout()">Cerrar sesión</ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</ion-header>
<ion-content>
<div class="contenedor-inicio">
  <h1 class="titulo">{{ datos.title }}</h1>

  <div class="imagen-central">
    <img [src]="datos.image" alt="Imagen central" />
  </div>

  <p class="direccion">{{ datos.text }}</p>
</div>
</ion-content>
