<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">
      Enviar enlace de recuperación
    </ion-button>

    <ion-text color="success" *ngIf="message">
      {{ message }}
    </ion-text>
    <ion-text color="danger" *ngIf="error">
      {{ error }}
    </ion-text>

    @if (message) {
      <ion-item (click)="goLogin()" class="button-back">
        <ion-label>Regresar</ion-label>
      </ion-item>
    }
  </form>
</ion-content>
