ion-item.item-aprobado {
  background-color: #d4f4dd; // verde claro
  border-left: 5px solid #28a745;
}

ion-item.item-rechazado {
  background-color: #fce2e2; // rojo claro
  border-left: 5px solid #dc3545;
}
